@import "tailwindcss";

:root {
  --background: #fafaf9;
  /* stone-50 */
  --foreground: #1c1917;
  /* stone-900 */
}

@theme {
  --color-background: #fafaf9;
  --color-foreground: #1c1917;
  --font-sans: var(--font-google), ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-google), ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #e7e5e4;
    border-radius: 20px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1c1917;
    border-radius: 20px;
  }
}